<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    
    <header>
        {% if user_name %}
        <h1>Hei {{ user_name }}!</h1>
        {% else %}
        <h1>Velkommen til min side!</h1>
        {% endif %}

        <nav class="nav">
            <a href="/">Hjem</a>
            <a href="/ommeg">Om meg</a>

            {% if user_name %}
            <a href="/logout">Logg ut</a>
            {% else %}
            <a href="/login">Logg inn</a>
            <a href="/registrer">Registrer</a>
            {% endif %}
            
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}

    <footer>
        <div>
            <h3>Kontakt info:</h3>
            <p>E-post: bratliehaavard@gmail.com</p>
            <p>Telefon: 484 31 084</p>            
        </div>
        <a class="cv" download="" href="/static/CV.pdf">Last ned CV-en min her</a>
    </footer>
</body>

<script src="/static/script.js"></script>
</html>