<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <img src="/static/logo.png" alt="Haavard Bratlie portefølje">
        
        
        <nav class="nav">
            <a href="/">Hjem</a>
            <a href="/innhold">Innhold</a>

            {% if user_name %}
            <a href="/logout">Logg ut</a>
            {% else %}
            <a href="/login">Logg inn</a>
            <a href="/registrer">Registrer</a>
            {% endif %}
            
        </nav>
        {% if user_name %}
        <h1>Hei {{ user_name }}!</h1>
        {% else %}
        <h1>Velkommen til min side!</h1>
        {% endif %}
    </header>
    
    <div class="bg">
        <img src="/static/bg_full_1920x2160_no_image.jpg" alt="bakgrunn">
    </div>
    {% block content %}
    {% endblock %}

    <footer>
        <div>
            <h3>Kontakt info:</h3>
            <p>E-post: bratliehaavard@gmail.com</p>
            <p>Telefon: 484 31 084</p>            
        </div>
        <a class="cv" download="" href="/static/CV.pdf">Last ned CV-en min her</a>
    </footer>
</body>

<script src="/static/script.js"></script>
</html>