<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
    <Header>
        <h1>Velkommen til min side!</h1>
        <nav class="nav">
            <a href="">Hjem</a>
            <a href="">Om meg</a>
            <a href="">Logg inn</a>
            <a href="">Registrer</a>
            <a href="">Logg ut</a>
        </nav>
    </Header>
    
    {% block content %}
    {% endblock %}

    <footer>
        <div>
            <h3>Kontakt info:</h3>
            <p>E-post: bratliehaavard@gmail.com</p>
            <p>Telefon: 484 31 084</p>            
        </div>
        <a download="" href="/static/CV.pdf">Last ned CV-en min her</a>
    </footer>
</body>
</html>