{% extends 'base.html' %}
{% block content %}
<div class="registrer"></div>

<div class="designmanual-box">
    <h1>Farger</h1>
    <div class="underline"></div>
    <div class="color-box">
        <div id="box-0056b3"></div>
        <p>#0056B3</p>
    </div>
    <div class="color-box">
        <div id="box-007bff"></div>
        <p>#007BFF</p>
    </div>
    <div class="color-box">
        <div id="box-07075d"></div>
        <p>#07075D</p>
    </div>
    <div class="color-box">
        <div id="box-333333"></div>
        <p>#333333</p>
    </div>
    <div class="color-box">
        <div id="box-555555"></div>
        <p>#555555</p>
    </div>
    <div class="color-box">
        <div id="box-c0c0c0"></div>
        <p>#C0C0C0</p>
    </div>
    <div class="color-box">
        <div id="box-d3d3d3"></div>
        <p>#D3D3D3</p>
    </div>
    <div class="color-box">
        <div id="box-f1f1f1"></div>
        <p>#F1F1F1</p>
    </div>
    <div class="color-box">
        <div id="box-ffffff"></div>
        <p>#FFFFFF</p>
    </div>
</div>

<div class="designmanual-box">
    <h1>Fonter</h1>
    <div class="underline"></div>
    <h1 class="font-1">Marriweather</h1>
    <h2 class="font-1">AaBbCcDdEeFf</h2>
    <h1 class="font-2">Poppins</h1>
    <h2 class="font-2">AaBbCcDdEeFf</h2>
</div>

<div class="designmanual-box">
    <h1>Logo</h1>
    <div class="underline2"></div>
</div>



{% endblock %}