{% extends 'base.html' %}
{% block content %}

<div class="login"></div>

{% if error %}
<div class="error-message">
    <h3>{{ error }}</h3>
</div>
{% endif %}

<div class="form">
    <h1>Logg inn</h1>
    <form method="POST">
        <label>E-post:</label><br>
        <input placeholder="Skriv inn e-post" style="font-style: italic;" type="email" name="epost" required><br>
        <label>Passord:</label><br>
        <input placeholder="Skriv inn passord" style="font-style: italic;" type="password" name="passord" required><br>
        <button type="submit">Logg inn</button>
        
    </form>
    <a href="/registrer">Ingen bruker? Registrer deg her</a>


</div>

{% endblock %}