{% extends 'base.html' %}
{% block content %}
<div class="registrer"></div>

<h1 class="ommeg-title">Om meg</h1>

<div class="ommeg-box">
    <p>
        Hei! Jeg heter Haavard, og jeg går mitt siste år på videregående skole, på Informasjonsteknologi og medieproduksjon. Jeg har alltid vært nysgjerrig på hvordan ting fungerer – spesielt når det kommer til teknologi og utvikling – og det er derfor jeg har bestemt meg for å satse på en framtid som utvikler.
    </p>
    <p>
        Gjennom skolen har jeg fått lære mye om programmering, webdesign, maskinvare og mye mer, og jeg liker spesielt godt å lage nettsider og kode løsninger. Etter videregående skal jeg utplasseres i en bedrift under IT-drift fagbrevet, noe jeg gleder meg til fordi jeg får muligheten til å lære enda mer i praksis og jobbe med ekte prosjekter.
    </p>
    <p>
        På fritiden bruker jeg mye tid på gaming, men jeg liker også å være sosial – enten det er å være ute med venner, spille fotball eller ta en sykkeltur. I tillegg liker jeg å utforske nye programmeringsspråk og verktøy, spesielt når jeg kan bruke dem til å lage noe kreativt eller praktisk.
    </p>
    <p>
        Denne nettsiden er et lite innblikk i hvem jeg er og hva jeg holder på med. Jeg håper du liker det du ser!
    </p>
</div>
{% endblock %}