{% extends 'base.html' %}
{% block content %}
<div class="registrer"></div>

<div>
    <h2 id="result"></h2>
</div>
<div>
    <button id="startButton" onclick="startQuiz()" class="btn">Spill Fritids QUIZ!</button>
</div>

<form id="quizForm" style="display:none;" onsubmit="event.preventDefault();">
    <div id="question1" style="display:none;">
        <h1 class="question"><label for="svar1">Hva er Haavard sitt favoritt filmunivers?</label><br></h1>
        <div class="box_layout"> 
            <h2 onclick="answerQuestion('Marvel')" class="box1">Marvel</h2>
            <h2 onclick="answerQuestion('DC')" class="box2">DC</h2>
            <h2 onclick="answerQuestion('Star Wars')" class="box2">Star Wars</h2>
            <h2 onclick="answerQuestion('Lord of the Rings')" class="box1">Lord of the Rings</h2>
        </div>
    </div>
    <div id="question2" style="display:none;">
        <h1 class="question"><label for="svar2">Hva er Haavard sin favoritt film sjanger?</laberl><br></h1>
        <div class="box_layout">
            <h2 onclick="answerQuestion('Skrekk')" class="box1">Skrekk</h2>
            <h2 onclick="answerQuestion('Komedie')" class="box2">Komedie</h2>
            <h2 onclick="answerQuestion('Action')" class="box2">Action</h2>
            <h2 onclick="answerQuestion('Drama')" class="box1">Drama</h2>
        </div>
    </div>
    <div id="question3" style="display:none;">
        <h1 class="question"><label for="svar3">Hva synes Haavard er det beste spillet noen sinne?</label><br></h1>
        <div class="box_layout">
            <h2 onclick="answerQuestion('Call of Duty MW 2019')" class="box1">Call of Duty MW 2019</h2>
            <h2 onclick="answerQuestion('FIFA 22')" class="box2">FIFA 22</h2>
            <h2 onclick="answerQuestion('Star Wars: Jedi Survivor')" class="box2">Star Wars: Jedi Survivor</h2>
            <h2 onclick="answerQuestion('Fortnite')" class="box1">Fortnite</h2>
        </div>
    </div>
    <div id="question4" style="display:none;">
        <h1 class="question"><label for="svar4">Hva er Haavard sin favoritt sport?</label><br></h1>
        <div class="box_layout">
            <h2 onclick="answerQuestion('Motocross')" class="box1">Motocross</h2>
            <h2 onclick="answerQuestion('Fotball')" class="box2">Fotball</h2>
            <h2 onclick="answerQuestion('Basketball')" class="box2">Basketball</h2>
            <h2 onclick="answerQuestion('Volleyball')" class="box1">Volleyball</h2>
        </div>
    </div>
    <div id="question5" style="display:none;">
        <h1 class="question"><label for="svar5">Når er Haavard sin bursdag?</label><br></h1>
        <div class="box_layout">
            <h2 onclick="answerQuestion('4. Mars')" class="box1">4. Mars</h2>
            <h2 onclick="answerQuestion('21. September')" class="box2">21. September</h2>
            <h2 onclick="answerQuestion('17. Desember')" class="box2">17. Desember</h2>
            <h2 onclick="answerQuestion('3. Mars')" class="box1">3. Mars</h2>
        </div>
    </div>
</form>

{% endblock %}
