{% extends 'base.html' %}
{% block content %}

<div class="registrer"></div>

<div class="form">
    <h1>Registrer deg</h1>
    <form method="POST">
        <label>Fornavn:</label><br>
        <input placeholder="Skriv inn fornavn" style="font-style: italic;" type="text" name="fornavn" required><br>
        <label>Etternavn:</label><br>
        <input placeholder="Skriv inn etternavn" style="font-style: italic;" type="text" name="etternavn" required><br>
        <label>E-post:</label><br>
        <input placeholder="Skriv inn e-post" style="font-style: italic;" type="email" name="epost" required><br>
        <label>Passord:</label><br>
        <input placeholder="Skriv inn passord" style="font-style: italic;" type="password" name="passord" required><br>
        <button type="submit">Registrer</button>
    </form>
    <a href="/login">Allerede bruker? Logg inn her</a>

</div>


{% endblock %}